<div class="color-card">
    <div class="color-swatch" data-hex="{{hex}}" data-rgb="{{rbg}}" style="background-color: {{hex}}">
    </div>
    <div class="color-meta">
        <p>HEX: {{hex}}</p>
        <p>RGB: {{rbg}}</p>
    </div>
</div>